.sidebar-brand img{
    height: 33px;
}

.info-fabricas{
    list-style: none;
    margin: 25px -35px;
    font-size: 14px;
}

.info-graficos{
    list-style: none;
    font-size: 14px;
}

table.dataTable thead .sorting:last-child{
	cursor: auto;
}

table.dataTable thead .sorting:last-child:after{
 visibility: hidden !important;
 content: " " !important;
}

